.white-btn{
    color:#000;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    width: 206px;
    padding: 18px 0px;
    font-weight: 600;
    display: inline-block;   
}
.white-btn:hover{
    color: #000;
    cursor: pointer;
}
.white-btn:focus{
    color: #000;
    cursor: pointer;
}

