.footer {
  background-color: #2c2c2c;
  padding: 70px;
}
.footer .head {
  width: 30%;
  margin: 0px auto;
  text-align: right;
}
.footer .head h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}
.footer .head p {
  color: yellow;
  font-size: 18px;
}
.footer .mail {
  padding: 50px 0px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.footer .mail h1 {
  font-size: 16px;
  color: gray;
}
.link-section {
  padding: 30px 0px;
}
.link {
  border-bottom: 1px solid gray;
}
.link-section h1 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.link-section ul li {
  margin-bottom: 8px;
}
.link-section ul li a {
  font-size: 16px;
  color: gray !important;
  cursor: pointer;
}
.link-section ul li a:hover {
  font-weight: 600;
}
.link-section i {
  color: #fff;
}
@media only screen and (max-width: 1200px) {
  .footer .head {
    width: auto;
    text-align: left;
  }
}
@media only screen and (max-width: 991px) {
  .footer .mail {
    flex-direction: column;
  }
  .footer .mail h1 {
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    padding: 20px;
  }
  .footer .mail {
    padding: 20px 0px;
  }
  .link-section {
    padding: 15px 0px;
  }
}
