/* header */
.header {
  padding: 0px 20px;
  left: 120px;
  position: absolute !important;
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid #fff;
}
.header-top ul li {
  display: inline-block;
}
.header-top ul li:first-child {
  border-right: 1px solid #fff;
  padding-right: 10px;
}
.header-top ul li:last-child {
  padding-left: 10px;
}
.header-top ul li label {
  font-size: 16px;
  color: #fff;
}
.header-top-language select {
  background: transparent;
  border: 0px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
.header-top-language select:focus-visible {
  outline: 0px !important;
}
.navbar-links-section {
  padding: 30px 0px;
  border-bottom: 1px solid #fff;
  display: flex;
}
.navbar-links-section ul li {
  padding-right: 30px;
}
.navbar-links-section ul li a {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}
.header .navbar {
  padding: 0px;
  margin: 0px auto;
}
@media only screen and (max-width: 767px) {
  .header {
    left: 0px;
    padding: 0px;
    background-color: #7c3018;
  }
  .navbar-links-section {
    padding: 10px 0px;
  }
  .header-top ul li {
    display: block;
  }
  .header-top ul li label {
    font-size: 14px;
  }
  .header-top ul li:first-child {
    padding-right: 0px;
    border: 0px;
  }
  .header-top ul li:last-child {
    padding-left: 0px;
  }
  .header-top {
    flex-direction: column;
    padding: 10px 15px;
  }
  .header-top-language select {
    font-size: 12px;
  }
  .navbar-links-section {
    display: flex;
    justify-content: flex-start;
    padding: 10px 15px;
  }
  .header .navbar {
    margin: unset;
    display: flex;
    justify-content: flex-start;
  }
  .navbar-toggler {
    background-color: #fff;
  }
  button:focus {
    outline: 0px !important;
  }
}
