/* banner-section */
.home-slider {
  width: 100%;
  height: 100vh;
}
.banner-section {
  width: 100%;
  height: 100vh !important;
  position: relative;
}
.banner .overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(0 0 0 / 50%);
  right: 0px;
  bottom: 0px;
  position: absolute;
}
.banner .banner-section img {
  width: 100%;
  height: 100%;
}
.banner .left-sidebar {
  position: absolute;
  width: 100px;
  height: 100%;
  background-color: #000;
  left: 0px;
  top: 0px;
}

.banner .left-sidebar-content {
  transform: rotate(-90deg);
  margin-top: 150px;
  width: 250px;
  margin-left: -80px;
  text-align: right;
}
.banner .left-sidebar-menu {
  transform: rotate(-90deg);
  width: 250px;
  margin-left: -83px;
  margin-top: 200px;
}
.banner .left-sidebar-content h1 {
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: 600;
}
.banner .left-sidebar-menu {
  display: flex;
  align-items: center;
}
.banner .left-sidebar-menu h2 {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  font-weight: 600;
  margin-left: 20px;
}
.banner .left-sidebar-content p {
  font-size: 12px;
  line-height: 26px;
  color: #fff;
  text-align: right;
}
.banner .hamburger-menu {
  cursor: pointer;
}
.banner .hamburger-menu span {
  display: block;
  height: 2px;
  width: 16px;
  background: #fff;
  margin-bottom: 4px;
}
.banner .hamburger-menu span:nth-child(2) {
  width: 24px;
}
.banner .right-sidebar {
  position: absolute;
  width: 100px;
  right: 20px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.banner .right-sidebar ul li {
  transform: rotate(90deg);
  margin-top: 150px;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  width: 150px;
  cursor: pointer;
}
.banner .right-sidebar ul li label {
  cursor: pointer;
}
.banner .right-sidebar ul li span {
  margin-right: 10px;
}
.banner .banner-text {
  padding: 90px 80px;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 10px solid #fff;
  text-align: center;
  border-bottom: 0px;
}
.banner .banner-text h1 {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
}
.banner .banner-text h2 {
  padding: 20px 0px;
  font-size: 76px;
  color: #fff;
  line-height: 70px;
  font-weight: 600;
}
.banner .banner-text .see-btn {
  position: absolute;
  bottom: -30px;
  left: 0px;
  right: 0px;
}
.banner .banner-text .left {
  position: absolute;
  width: 23%;
  background: #fff;
  height: 10px;
  left: -1px;
  bottom: 30px;
}
.banner .banner-text .right {
  position: absolute;
  width: 23%;
  background: #fff;
  height: 10px;
  right: -1px;
  bottom: 30px;
}
.slick-arrow {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0%;
  z-index: 99;
  cursor: pointer;
}
.slick-left.slick-arrow {
  left: 10%;
}
.slick-right.slick-arrow {
  left: 15%;
}
.banner .count {
  position: absolute;
  right: 100px;
  bottom: 40px;
  width: 100px;
}
.banner .count h2 {
  color: #fff;
  font-size: 18px;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
.banner .count h3 {
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
}
/* testimonial */
.testimonial{
    padding: 70px 0px;
    background-color: #fafafa;
}
.testimonial-card img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
}
.testimonial-container{
    width: 90%;
    margin:0px auto;
}
.testimonial-container h2{
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}
.testimonial-container p{
    color: #000;
    font-size: 18px;
    text-align: center;
}
.testimonial-cards{
    margin-top: 70px;
}
.testimonial-card{
    box-shadow: 6px 6px 6px 6px #777;
    padding: 20px;
    margin: 20px;
}
.testimonial-card .top{
    display: flex;
    align-items: center;
}
.testimonial-card .top h2{
    font-size: 16px;
    padding-bottom: 10px;

}
.testimonial-card .top label{
    font-size: 16px;
}
.testimonial-card p{
    font-size: 16px;
    padding-top: 20px;
}
.testimonial-card .left{
    margin-right: 20px;
}
.slick-dots li button:before{
    font-size: 30px!important;
}

@media only screen and (max-width: 991px) {
  .navbar-links-section ul li a {
    font-size: 14px;
  }
  .navbar-links-section ul li {
    padding-right: 10px;
  }
  .banner .banner-text {
    padding: 50px;
  }
  .slick-left.slick-arrow {
    left: 15%;
  }
  .slick-right.slick-arrow {
    left: 25%;
  }
}
@media only screen and (max-width: 767px) {
  .banner .left-sidebar {
    display: none;
  }
  .banner .right-sidebar {
    display: none;
  }
  .banner .banner-text {
    padding: 15px;
    position: absolute;
    border:0px;
    top:250px;
  }
  .banner .banner-text h1 {
    font-size: 14px;
    line-height: 16px;
  }
  .banner .banner-text h2 {
    font-size: 30px;
    line-height: 20px;
    padding: 10px 0px;
  }
  .see-btn .white-btn {
    width: 100%;
    font-size: 14px;
    padding: 10px 0px;
    width: 70%;
  }
  .slick-arrow img {
    width: 40px;
  }
  .banner .count {
    right: 20px;
    width: 30px;
  }
  .banner .count h2 {
    font-size: 14px;
  }
  .banner .count h3 {
    font-size: 14px;
  }
  .slick-left.slick-arrow {
    left: 15px;
  }
  .slick-right.slick-arrow {
    left: 50px;
  }
  .banner-section{
      height: auto!important;
      margin-top: 170px;
  }
  .banner .banner-text span{
    display: none;
  }
  .banner .banner-text .see-btn{
      bottom: -50px;
  }
  .home-slider{
      height: auto;
  }
}
