/* Common Css */
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,label,p{
    margin-bottom: 0px!important;
}
ul{
    list-style: none;
    padding-left: 0px;
}

a{
    text-decoration: none!important;
}
/* Media Query */
@media only screen and (max-width: 991px) {
    .navbar-links-section ul li a{
        font-size: 14px;
    }
}